<html>

<head>
  <title><%= node['bender_is_great']['html_title'] %></title>
</head>

<body>
  <h1>Bender is great!  Bender is great!</h1>
  <img src="<%= node['bender_is_great']['image_url'] %>>"</img>
  <p><%= node['bender_is_great']['completion_message'] %></p>
</body>
</html>
